body{
	font-family: 'Roboto Condensed', sans-serif;
	#font-family: 'Open Sans Condensed', sans-serif;

}

/*.fc-state-default {
	background-color: #f5f5f5;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}*/

/*.fc-state-hover {
	color: #333333;
	text-decoration: none;
}*/

/*.fc-state-down,
.fc-state-active {
	background-color: #cccccc;
	background-image: none;
}*/

/*.fc-state-disabled {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	box-shadow: none;
}*/

/* Add Animation */
/*@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}*/

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3a87ad;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #3a87ad;
    color: white;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number { text-align: center }
