<link rel='stylesheet' href='../static/css/middleStylesheet.css?version=04' />

<div class="bigPicOLDiv">
	<ol class="nested" id="bigPicOL"></ol>

	<button id = "bigPicButton">Add</button>
	<button id = "dbAddButton">Sync</button>
	<div id = "bigPicModal" class = "modal">
		<div class="modal-content" id = "modal-content">

		    <input style = "font-size: 25px" type="text" id="bigPicItem" placeholder="Project Name" />
		    <input type="date" id="bigPicDate"/>
		    <input type="time" id="bigPicTime"/>
		    <button id="addBigPicSubtask">Add subtask</button>
		    <button id="addBigPicTask">Add project</button>
		    <button id="closeBigPicModal">X</button>
		    <p>Date</p>
		    <p>Time</p>
		</div>
	</div>
	<div id = "edit-modals" class = "modal">
			<!--actual modal goes here-->
	</div>
</div>

</div>

<!-- <input type="text" id="bigPicItem" placeholder="Add new item">
<input type="number" id="bigPicNum" placeholder="Number of subtasks">

<span onclick="newBigPicElement();" class="addBtn">Add</span> -->

<script>
	$(function  () {
		var oldContainer;
	  	$("ol.nested").sortable({
		  group: 'nested',
		  afterMove: function (placeholder, container) {
		    if(oldContainer != container){
		      if(oldContainer)
		        oldContainer.el.removeClass("active");
		      container.el.addClass("active");

		      oldContainer = container;
		    }
		  },
		  onDrop: function ($item, container, _super) {
		    container.el.removeClass("active");
		    _super($item, container);
		  }
		});

		$(".switch-container").on("click", ".switch", function  (e) {
		  var method = $(this).hasClass("active") ? "enable" : "disable";
		  $(e.delegateTarget).next().sortable(method);
		});

	});

	var subtaskArr = [];
	var subtaskCount = 0;
	var id = 0;


	var bigPicModal = document.getElementById("bigPicModal");
	var btn = document.getElementById("bigPicButton");
	var closePic = document.getElementById("closeBigPicModal");
	var addSub = document.getElementById("addBigPicSubtask");
	var dbButton = document.getElementById("dbAddButton");


	var addProj = document.getElementById("addBigPicTask");

	var editButtons = document.getElementsByClassName("edit");

	var editArray = [];

	var syncProjects = document.getElementById("syncProjects");

	function syncProjectsHere() {
		console.log(getProjects(userid));
		var arr = JSON.parse(getProjects(userid));
		arr.forEach(function(obj) { elementFromDB(obj); });
	}

	btn.onclick = function() {
    	bigPicModal.style.display = "block";
	}

	closePic.onclick = function (){
		var content = document.getElementById("modal-content");
		for (i = 1; i <= subtaskCount; i++){
	    	var removeInput = document.getElementById("subtask bar " + i);
	    	content.removeChild(removeInput);
	    }
	    bigPicModal.style.display = "none";
	    subtaskArr = [];
	    subtaskCount = 0;
	}

	function closeMethod2(){
		var content = document.getElementById("modal-content");
		for (i = 1; i <= subtaskCount; i++){
	    	var removeInput = document.getElementById("subtask bar " + i);
	    	content.removeChild(removeInput);
	    }
	    bigPicModal.style.display = "none";
	    subtaskArr = [];
	    subtaskCount = 0;
	}


	addSub.onclick = function(){
		subtaskCount++;
		var content = document.getElementById("modal-content")
		var input = document.createElement("input");
		input.setAttribute("type", "text");
		input.setAttribute("id", "subtask bar " + subtaskCount);
		input.setAttribute("placeholder", "Add new subtask");

		subtaskArr.push(input);

		content.appendChild(input);
	}


		dbAddButton.onclick = function(){
			prePopBigPicture(getProjects(userid));
		}

	 function prePopBigPicture(list) {
			var arr = JSON.parse(list);
			arr.forEach(function(obj) { elementFromDB(obj); });
		}


	function elementFromDB(obj){

		console.log("SUBTASKS " + obj.color);
		id++;

		var itemName = obj.projectname;

		if (itemName != ''){
			var li = document.createElement("li");

			li.setAttribute("dbId", obj.id);

			li.setAttribute("id", itemName);


			var t = document.createTextNode(itemName);


			var p = document.createElement("p");
			//p.setAttribute("contenteditable", true);
			p.setAttribute("style", "font-size: 25px");
			p.setAttribute("id", "text " + itemName);
			p.appendChild(t);

			// li.appendChild(t);
			li.appendChild(p);

			var editspan = document.createElement("SPAN");
			var txt = document.createTextNode("\u22EE");
			editspan.setAttribute("style", "font-size: 25px");
			editspan.className = "edit";
			editspan.setAttribute("id", "editBtn " + itemName);
			editspan.setAttribute("onclick", "clickfunct(this)");
			editArray.push(editspan);

			editspan.appendChild(txt);
			li.appendChild(editspan);


			var newP = document.createElement("p");

			var newP = document.createElement("p");
			var due = document.createTextNode(obj.date);
			newP.setAttribute("id", "datetime " + itemName);

			newP.appendChild(due);

			li.appendChild(newP);

			var span2 = document.createElement("span");
			txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
			span2.className = "handle";

			span2.appendChild(txt2);
			li.insertBefore(span2, li.firstChild);

			var subOL = document.createElement("ol");
			li.appendChild(subOL);

			document.getElementById("bigPicOL").appendChild(li);

			document.getElementById("bigPicItem").value = "";

			var delimeterIndices = [];
			delimeterIndices.push(0);

			if (obj.color.length != 0){
				for (th = 1; th < (obj.color).length; th++){
					if (obj.color.charAt(th) == '|'){
						delimeterIndices.push(th);
					}
				}

				for (k = 0; k < delimeterIndices.length - 1; k++){
					var firstIdx = delimeterIndices[k];
					if (k == 0){
						firstIdx--;
					}

					if (k == delimeterIndices - 1){
						var secondIdx = obj.subtasks.length;
					}
					else{
						var secondIdx = delimeterIndices[k+1];
					}

					//var t = document.getElementById("subtask bar " + k).value;

					var t = document.createTextNode(obj.color.substring(firstIdx + 1, secondIdx));
					console.log("t " + t);

					var subLi = document.createElement("li");
					//subLi.setAttribute("id", itemName + " " + id + " subtaskList " + k);
					subLi.setAttribute("id",  + " " + k);

					var p = document.createElement("p");
					//p.setAttribute("contenteditable", true);
					p.appendChild(t);


					// li.appendChild(t);
					subLi.appendChild(p);

					//li.setAttribute("id", "toDoList");
					subOL.appendChild(subLi);


					var closespan = document.createElement("SPAN");
					var txt = document.createTextNode("\u2713");
					closespan.className = "close";
					//span.setAttribute("contenteditable", false);
					closespan.appendChild(txt);
					subLi.appendChild(closespan);
					closespan.setAttribute("onclick", "closemethod(this)");


					var span2 = document.createElement("span");
					txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
					span2.className = "handle";
					//span2.setAttribute("contenteditable", false);
					span2.appendChild(txt2);
					subLi.insertBefore(span2, subLi.firstChild);
				}
			}
		}

		var content = document.getElementById("modal-content");
		for (p = 1; p <= subtaskCount; p++){
	    	var removeInput = document.getElementById("subtask bar " + p);
	    	content.removeChild(removeInput);
	    }
	    subtaskArr = [];
	    subtaskCount = 0;
	}

	var id = 0;
	addProj.onclick = function(){
		id++;
		var arg1;
		var arg2;
		var arg3;
		var arg4 = "class";
		var arg5;
		var itemName = document.getElementById("bigPicItem").value;

		arg1 = "jtt65";
		arg2 = itemName;


		if (itemName != ''){
			var li = document.createElement("li");

			li.setAttribute("id", itemName);


			var t = document.createTextNode(itemName);


			var p = document.createElement("p");
			//p.setAttribute("contenteditable", true);
			p.setAttribute("style", "font-size: 25px");

			p.setAttribute("id", "text " + itemName);
			p.appendChild(t);

			// li.appendChild(t);
			li.appendChild(p);

			var editspan = document.createElement("SPAN");
			var txt = document.createTextNode("\u22EE");
			editspan.setAttribute("style", "font-size: 25px");
			editspan.className = "edit";

			editspan.setAttribute("id", "editBtn " + itemName);
			editspan.setAttribute("onclick", "clickfunct(this)");
			editArray.push(editspan);

			editspan.appendChild(txt);
			li.appendChild(editspan);


			var newP = document.createElement("p");
			var date = document.getElementById("bigPicDate").value;
			var time = document.getElementById("bigPicTime").value;

			var newP = document.createElement("p");
			var due = document.createTextNode(date + " " + time);
			arg3 = date + " " + time;
			newP.setAttribute("id", "datetime " + itemName);

			newP.appendChild(due);

			li.appendChild(newP);

			var span2 = document.createElement("span");
			txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
			span2.className = "handle";

			span2.appendChild(txt2);
			li.insertBefore(span2, li.firstChild);



			var subOL = document.createElement("ol");
			li.appendChild(subOL);

			document.getElementById("bigPicOL").appendChild(li);

			document.getElementById("bigPicItem").value = "";

			var subtaskString = "";

			for (k = 1; k <= subtaskCount; k++){
				var t = document.getElementById("subtask bar " + k).value;
				subtaskString += t + "|";
				t = document.createTextNode(t);

				var subLi = document.createElement("li");
				//subLi.setAttribute("id", itemName + " " + id + " subtaskList " + k);
				subLi.setAttribute("id", itemName + " " + k);

				var p = document.createElement("p");
				//p.setAttribute("contenteditable", true);
				p.appendChild(t);

				// li.appendChild(t);
				subLi.appendChild(p);

				//li.setAttribute("id", "toDoList");
				subOL.appendChild(subLi);


				var closespan = document.createElement("SPAN");
				var txt = document.createTextNode("\u2713");
				closespan.className = "close";
				//span.setAttribute("contenteditable", false);
				closespan.appendChild(txt);
				subLi.appendChild(closespan);
				closespan.setAttribute("onclick", "closemethod(this)");


				var span2 = document.createElement("span");
				txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
				span2.className = "handle";
				//span2.setAttribute("contenteditable", false);
				span2.appendChild(txt2);
				subLi.insertBefore(span2, subLi.firstChild);


			}
			arg5 = subtaskString;
		}

		var content = document.getElementById("modal-content");
		for (p = 1; p <= subtaskCount; p++){
	    	var removeInput = document.getElementById("subtask bar " + p);
	    	content.removeChild(removeInput);
	    }

	    subtaskArr = [];
	    subtaskCount = 0;
	    addProjectColor(arg1, arg2, arg3, arg4, arg5);
	    closeMethod2();
	    //addProjectColor('jtt74', arg2, arg4, 'tasklist', 'orange');

	}

	function closemethod(closething){
		var closespan = closething;
		var div = closespan.parentElement;
		if (div.getAttribute("class") == "checked"){
			div.setAttribute("class", "");
		}
		else{
			div.setAttribute("class", "checked");
		}

		//div.style.display = "none";

	}
	function clickfunct(editthing){
						var editspan = editthing;
						//eventually append div to editdiv
						var editDiv = document.getElementById("edit-modals");

						//smaller inputs must be appended to div
						var div = document.createElement("div");
						div.setAttribute("class", "modal-content");
						div.setAttribute("id", "edit-modal");

						var editP = document.createElement("p");
						editP.setAttribute("style", "font-size: 25px");
						editP.appendChild(document.createTextNode((" Edit Project Name")));

						div.appendChild(editP);

						var input = document.createElement("input");
						input.setAttribute("style", "font-size: 25px");
						input.setAttribute("type", "text");
						input.setAttribute("id", "editbigPicItem");

						var dateTime = document.createElement("input");
						dateTime.setAttribute("type", "text");
						dateTime.setAttribute("id", "editDateTime");
						console.log(editspan.parentElement);

						var idNum = editspan.parentElement.getAttribute("id");
						console.log(id);

						var dt = document.getElementById("datetime " + idNum).innerHTML;


						dateTime.setAttribute("value", dt);

						var val = document.getElementById("text " + idNum).innerHTML;

						input.setAttribute("value", val);

						div.appendChild(input);
						div.appendChild(dateTime);

						var revisedCount = 0;
						for (j = 1; j < document.getElementById(val).getElementsByTagName("li").length + 1; j++){
							var k = j;
							var doneSubTask = document.getElementById(val).getElementsByTagName("li");
							if (doneSubTask != null){
								revisedCount++;
								var subInput = document.createElement("input");
								subInput.setAttribute("type", "text");
								subInput.setAttribute("id", "subtask bar " + revisedCount);
								subInput.setAttribute("value", doneSubTask[0].getElementsByTagName("p")[0].innerHTML);
								//console.log(doneSubTask[0].getElementsByTagName("p"));
								div.appendChild(subInput);

								// var editP = document.createElement("p");
								// editP.appendChild("Edit Subtask " + k);
							}
						}

						var editAddSubButton = document.createElement("button");
						editAddSubButton.appendChild(document.createTextNode("Add subtask"));
						div.appendChild(editAddSubButton);

						var deleteProject = document.createElement("button");
						deleteProject.appendChild(document.createTextNode("Delete project"));
						div.appendChild(deleteProject);


						var editSaveProjButton = document.createElement("button");
						editSaveProjButton.appendChild(document.createTextNode("Save project"));
						div.appendChild(editSaveProjButton);

						//div.appendChild(document.createElement("br"));

						var editCancelButton = document.createElement("button");
						editCancelButton.appendChild(document.createTextNode("Cancel edit"));
						div.appendChild(editCancelButton);

						deleteProject.onclick = function(){
							var nameTag = document.getElementById("editbigPicItem").value;

							var editedName = document.getElementById("editbigPicItem").value;
							var editedDT = document.getElementById("editDateTime").value;

							var projectTag = document.getElementById(idNum);

							removeProject(nameTag);

							projectTag.innerHTML = '';
							projectTag.remove();

							editDiv.innerHTML = '';
							editDiv.style.display = "none";

						}

						editAddSubButton.onclick = function(){
							revisedCount++;

							var input = document.createElement("input");
							input.setAttribute("type", "text");
							input.setAttribute("id", "subtask bar " + revisedCount);

							input.setAttribute("placeholder", "Add new subtask");
							div.appendChild(input);
						}
						editCancelButton.onclick = function(){
							editDiv.innerHTML = '';
							editDiv.style.display = "none";

						}

						editSaveProjButton.onclick = function(){

							var editedName = document.getElementById("editbigPicItem").value;
							//console.log(editedName);
							if (editedName != ''){
								var oldLi = document.getElementById(i);
								oldLi.innerHTML = '';

								editedName = document.createTextNode(editedName);
								var p = document.createElement("p");
								//p.setAttribute("contenteditable", true);
								p.setAttribute("style", "font-size: 25px");
								p.setAttribute("id", "text " + idNum);
								p.appendChild(editedName);

								oldLi.appendChild(p);

								var editspan = document.createElement("SPAN");
								var txt = document.createTextNode("\u22EE");
								editspan.setAttribute("style", "font-size: 25px");
								editspan.className = "edit";


								editspan.setAttribute("id", "editBtn " + idNum);
								editspan.appendChild(txt);
								oldLi.appendChild(editspan);


								//oldLi.appendChild(document.createElement("br"));
								var newP = document.createElement("p");
								var editedDateTime = document.createTextNode(document.getElementById("editDateTime").value);
								newP.appendChild(editedDateTime);
								newP.setAttribute("id", "datetime " + idNum);
								oldLi.appendChild(newP);

								var span2 = document.createElement("span");
								txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
								span2.className = "handle";
								span2.appendChild(txt2);
								oldLi.insertBefore(span2, oldLi.firstChild);


								//THIS NEEDS TO BE FIXED
								//editspan.onclick = clickfunct();
								editspan.setAttribute("onclick", "clickfunct(this)")

								var newSubOL = document.createElement("ol");
								oldLi.appendChild(newSubOL);


								for (f = 1; f <= revisedCount; f++){
									var txt = document.getElementById("subtask bar " + f).value;
									txt = document.createTextNode(txt);

									var subL = document.createElement("li");
									subL.setAttribute("id", idNum + " " + f);

									var p = document.createElement("p");
									p.appendChild(txt);

									subL.appendChild(p);
									newSubOL.appendChild(subL);

									var closespan = document.createElement("SPAN");
									var txt = document.createTextNode("\u2713");
									closespan.className = "close";

									closespan.appendChild(txt);
									subL.appendChild(closespan);
									closespan.setAttribute("onclick", "closemethod(this)");

									var span2 = document.createElement("span");
									txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
									span2.className = "handle";
									//span2.setAttribute("contenteditable", false);
									span2.appendChild(txt2);
									subL.insertBefore(span2, subL.firstChild);

								}
								revisedCount = 0;



								//add all the other stuff

								editDiv.innerHTML = '';
								editDiv.style.display = "none";

							}

						}

						editDiv.appendChild(div);

						editDiv.style.display = "block";
					}


</script>



