<!DOCTYPE html>

<!--MVP INDEX-->

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/awesomplete.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="../static/js/awesomplete.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../static/js/fullcalendar-3.2.0/fullcalendar.css'/>
    <link rel='stylesheet' href='../static/css/stylesheet.css?version=07'/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src='../static/js/fullcalendar-3.2.0/lib/jquery.min.js'></script>
    <script src='../static/js/fullcalendar-3.2.0/lib/moment.min.js'></script>
    <script src='../static/js/fullcalendar-3.2.0/fullcalendar.js'></script>
    <script>
		var userid = "{{ userid }}";


    </script>
    <script src='../static/js/jquery-sortable.js'></script>
    <script src='../static/js/accessDB.js'></script>

</head>


<body>
	<div id = "header-bar">
		<ul>
			<li class = "title-link"><a href="#" class = "title">Samwise</a><li>
			<li class= "header-bar-links"><a href="/logout">Sign out</a><li>
			<li class = "header-bar-links" style = "color: #888; font-size: 20px;">|</li>
			<li class= "header-bar-links"><a onclick = "settingsAdd()" href="#settings">Settings</a><li>
			<br>
			<br>
		</ul>


		</div>

<!-- "HELPER FUNCTIONS" -->
{% include 'modalDialog.html' %}
{% if not auth %}
{% include 'welcomeModal.html' %}
{% endif %}

<div class="col-sm-12">
    <div class="topnav">

        <!--ADD CLASS FUNCTIONALITY-->
        <a onclick="introAdd()">+</a>
        <a onclick="displayProjectModal()">Add event</a>
    </div>
</div>

<div id='calendar'>

</div>


</body>
<script>
	$('#calendar').fullCalendar({

		eventClick : function(event) {
			var modal = document.getElementById('eventDetailsModal');
			var infoDiv = document.getElementById('information');

			var tagTitle = document.createElement("h5");
			tagTitle.id = "modal-tag-title";
			if (event.tag != null) {
				tagTitle.append(document.createTextNode(event.tag));
			}
			infoDiv.append(tagTitle);

			var t = document.createElement("h4");
			t.id = "modal-event-title";
			if (event.title == null){
				t.append(document.createTextNode("No title"));
			}
			else{
				t.append(document.createTextNode(event.title));
			}
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.id = "modal-deadline-title";
			if (event.end == null){
				t.append(document.createTextNode("No end date"));
			}
			else{
				t.append(document.createTextNode(event.end));
			}
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.id = "modal-location-title";
			if (event.location == null){
				t.append(document.createTextNode("No location"));
			}
			else{
				t.append(document.createTextNode(event.location));
			}
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.id = "modal-notes-title";
			if (event.notes == null){
				t.append(document.createTextNode("No notes"));
			}
			else{
				t.append(document.createTextNode(event.notes));
			}
			infoDiv.append(t);

            var courses = getUserCourses(userid);
            if (courses.indexOf(event.tag) != -1) {

                var button = document.createElement("button");
                button.setAttribute("style", "float:left");
                button.setAttribute("id", "removeButtonId");
                button.append(document.createTextNode("Delete"));
                infoDiv.append(button);

                var b = document.getElementById("removeButtonId");
                b.onclick = function(){
                    // removeEvent(event.eventId);
                    $("#calendar").fullCalendar('removeEvents');
                    addStoredEvents();
                    syncGoogleToFullCalendar();

                    $("#calendar").fullCalendar('rerenderEvents');
                    var info = document.getElementById("information");
                    info.innerHTML = "";

                    modal.style.display = 'none';
                }
            }

			modal.style.display = 'block';
		},
		header: {
			right: 'prev,next,today',
			// center: 'semester,month,agendaWeek,agendaDay'
			center: 'month,agendaWeek,agendaDay'
		},
		dayClick: function(date, jsEvent, view) {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
            $('#calendar').fullCalendar('gotoDate', date);
        },
		nextDayThreshold: '00:00:00'
	});

	function syncGoogleToFullCalendar() {
        var results = syncCalendar();
        var events = results.items;
        var eventSource = [];
        if (events.length > 0) {
            for (i = 0; i < events.length; i++) {
                var event = events[i];
								if (event.start === undefined){
									continue;
								}
								else{
									var start = event.start.dateTime;
	                if (!start) {
	                    start = event.start.date;
	                }
	                var end = event.end.dateTime;
	                if (!end) {
	                    end = event.end.date;
	                }
								}
                var newEvent = {"title" : event.summary, "start" : start, "end" : end}
                eventSource.push(newEvent);
            }
        } else {
            console.log('No upcoming events found.');
        }
        $("#calendar").fullCalendar('addEventSource', eventSource);
    }

	var events = JSON.parse(localStorage.getItem("events")) == null ? [] : JSON.parse(localStorage.getItem("events"));
	function myFunction() {
		var eventTitle = document.getElementById("nameOne").value;
		if (eventTitle) {
			// This one adds all exams for the input
			$("#calendar").fullCalendar('addEventSource', {url: 'http://localhost:5000/exams/' + eventTitle});
			$("#calendar").fullCalendar('addEventSource', {url: 'http://localhost:5000/courses/' + eventTitle});
			events.push(eventTitle);
			localStorage.setItem("events", JSON.stringify(events));
			console.log(events);
		}
		var modal = document.getElementById('myModal');
		modal.style.display = "none";
	}

    {% if auth %}

    document.addEventListener("DOMContentLoaded", function() {
      syncGoogleToFullCalendar();
  		addStoredEvents();
      var courses = getAllCourses();
  		var input = document.getElementById("classSearchIntro");
  		var awesomplete = new Awesomplete(input,{list : courses});

      document.getElementById('classSearchIntro').addEventListener("awesomplete-selectcomplete", function(event) {
          addUserClassSettings();
      });


      var input2 = document.getElementById("classSearchSettings");
  		var awesomplete2 = new Awesomplete(input2,{list : courses});

      document.getElementById('classSearchSettings').addEventListener("awesomplete-selectcomplete", function(event) {
          addUserClassSettings();
      });

  		// awesomplete.list = courses;
  		populateUserCourses();
      populateUserCoursesSettings();
    });

    // syncGoogleToFullCalendar();
    // addStoredEvents();
    // var courses = getAllCourses();
    // var input = document.getElementById("classSearchIntro");
    // if (input != null) {
    //   var awesomplete = new Awesomplete(input, {list : courses});
    //   // awesomplete.list = courses;
    //   populateUserCourses();
    // }


    {% endif %}
</script>
</html>
