<!DOCTYPE html>

<!--MVP INDEX-->

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/awesomplete.css" />
	<script src="../static/js/awesomplete.js" async></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel='stylesheet' href='../static/js/fullcalendar-3.2.0/fullcalendar.css' />
	<link rel='stylesheet' href='../static/css/stylesheet.css?version=06' />

  <script src='../static/js/fullcalendar-3.2.0/lib/jquery.min.js'></script>
  <script src='../static/js/fullcalendar-3.2.0/lib/moment.min.js'></script>
  <script src='../static/js/fullcalendar-3.2.0/fullcalendar.js'></script>

	<script src = '../static/js/jquery-sortable.js'></script>
	<script src = '../static/js/accessDB.js'></script>

</head>


<body>
		<div class="col-sm-9">
			<h1>  Project Samwise</h1>
		</div>

		<div class="col-sm-3">
			{% include 'toggleMenu.html' %}
		</div>


				<!-- "HELPER FUNCTIONS" -->
			{% if not auth %}
		    {% include 'modalDialog.html' %}
			{% endif %}

			<div class="col-sm-12">
				<div class="topnav">

						<!--ADD CLASS FUNCTIONALITY-->
					  <a onclick="introAdd()">+</a>
						<a onclick="displayProjectModal()">Add event</a>
				</div>
			</div>

			<div id='calendar'>

			</div>


    </body>
	<script>

	$('#calendar').fullCalendar({

		eventClick : function(event) {
			console.log(event);
			var modal = document.getElementById('eventDetailsModal');
			var infoDiv = document.getElementById('information');

			var tagTitle = document.createElement("h5");
			tagTitle.append(document.createTextNode(event.tag));

			infoDiv.append(tagTitle);

			var t = document.createElement("h4");
			t.append(document.createTextNode(event.title));
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.append(document.createTextNode(event.end));
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.append(document.createTextNode(event.location));
			infoDiv.append(t);

			var t = document.createElement("h6");
			t.append(document.createTextNode(event.notes));
			infoDiv.append(t);

			modal.style.display = 'block';
		},
		header: {
			right: 'prev,next,today',
			// center: 'semester,month,agendaWeek,agendaDay'
			center: 'month,agendaWeek,agendaDay'
		},
		// views: {
		// 	semester: {
		// 		type: 'basic',
		// 		duration: {months: 4},
		// 		buttonText: 'Semester'
		// 	}
		// },
		nextDayThreshold: '00:00:00'
	});
	var events = JSON.parse(localStorage.getItem("events")) == null ? [] : JSON.parse(localStorage.getItem("events"));
	function myFunction() {
		var eventTitle = document.getElementById("nameOne").value;
		if (eventTitle) {
			// This one adds all exams for the input
			$("#calendar").fullCalendar('addEventSource', {url: 'http://localhost:5000/exams/' + eventTitle});
			$("#calendar").fullCalendar('addEventSource', {url: 'http://localhost:5000/courses/' + eventTitle});
			events.push(eventTitle);
			localStorage.setItem("events", JSON.stringify(events));
			console.log(events);
		}
		var modal = document.getElementById('myModal');
		modal.style.display = "none";
	}
	</script>
</html>
