<script type='text/javascript'>
	$(document).ready(function() {

				

        // page is now ready, initialize the calendar...

        var intromodal = document.getElementById('introModal');
				var modal = document.getElementById('myModal');
				var modalevent = document.getElementById('eventModal');
        var desktopmodal = document.getElementById('desktopModal');
				var displayClassModal = document.getElementById('addClassModal')
				var displayProjectModal = document.getElementById('addProjectModal')

				var spanaddclass = document.getElementsByClassName('close')[0];
				var spanaddproject = document.getElementsByClassName('close')[1];
        var spanintro = document.getElementsByClassName('close')[2];
        var span = document.getElementsByClassName('close')[3];
        var span2 = document.getElementsByClassName('close')[4];
        var spandesktop = document.getElementsByClassName('close')[5];
        var spanproject = document.getElementsByClassName('close')[6];
        var spantask = document.getElementsByClassName('close')[7];

        var courseAddButton = document.getElementById('courseAdd');
        var eventAddButton = document.getElementById('eventAdd');
        var input = document.getElementById("nameOne");
        var awesomplete = new Awesomplete(input, {
				  minChars: 1,
				  autoFirst: true
				});

        // When the user clicks on <span> (x), close the modal
        eventAddButton.onclick = function() {
        	modalevent.style.display = 'none';
        }
        spanintro.onclick = function() {
            intromodal.style.display = 'none';
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = 'none';
        }

        span2.onclick = function() {
        	modalevent.style.display = 'none';
        }

        spandesktop.onclick = function() {
            desktopmodal.style.display = 'none';
        }

				spanaddclass.onclick = function(){
					displayClassModal.style.display = 'none';
				}

				spanaddproject.onclick = function(){
					displayProjectModal.style.display = 'none';
				}

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }

            if (event.target == modalevent) {
            	modalevent.style.display = 'none';
            }

            if (event.target == intromodal) {
                intromodal.style.display = 'none';
            }

            if (event.target == desktopmodal) {
                desktopmodal.style.display = 'none';
            }

						if (event.target == displayClassModal){
							displayClassModal.style.display = 'none';
						}

						if (event.target == displayProjectModal){
							displayProjectModal.style.display = 'none';
						}
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
      if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    function sendEmail() {
    	window.open('mailto:kl553@cornell.edu?subject=SA%20Tech%20Email%20Notification');
    }

    function notifyMe() {


      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
      }

      if (Notification.permission !== "granted")
        Notification.requestPermission();
      else {
        var notification = new Notification('Notification title', {
          icon: 'https://avatars1.githubusercontent.com/u/19356609?v=3&s=200',
          body: "Hey there! You've been notified!",
        });

        notification.onclick = function () {
          window.open("http://www.cornelldti.org/");
        };

      }

    }

    function introAdd() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'block';
    }

		function displayClassModal() {
			var modal = document.getElementById('addClassModal');
			modal.style.display = 'block';
		}

		function displayProjectModal() {
			var modal = document.getElementById('addProjectModal');
			modal.style.display = 'block';
		}

    function addingClass() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function switchClass() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('eventModal');
        modal2.style.display = 'block';
    }

    function switchCouse() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('myModal');
        modal2.style.display = 'block';

		$.getJSON('http://localhost:5000/getAllClasses', function(data) {
		  //data is the JSON string
		  awesomplete.list = data;
		});
    }

    function desktopToggle() {
        var modal = document.getElementById('desktopModal');
        modal.style.display = 'block';
    }

    function eventToggle() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function goButton(modalType) {
    	var modal = document.getElementById(modalType);
    	modal.style.display = 'none';
    }

		function addProjectToCalendar(){
			name = document.getElementById("projectName").value;
			date = document.getElementById("projectDate").value;
			if (date = 'undefined'){
				date = "2017-10-17T12:30:00";
			}
			course = document.getElementById("classSearch").value;
			if (course = 'undefined'){
				course = "CS3110";
			}
			console.log(name + " " + date + " " + course);
			//$("#calendar").fullCalendar('renderEvent', {title : name, start : date, allDay : false});
		}

</script>

	<div id = "addClassModal" class="modal" style= "display:none;">
		<div class="modal-content">
		 <div class="modal-header" style="background-color: #4a4a4a;">
			 <span class="close">&times;</span>
			 <h2>Add A Class</h2>

			 <div class="col-sm-8">
			  <h4>Pick classes to get exam dates and auto-suggest course work</h3>
			  <div class="col-sm-8">
			 	 <input style="background-color: white;" class= "task_name" type="text" name="classSearch" placeholder="Add a class"> <br>
			  </div>

				 <div class="col-sm-4">
						</div>
				 </div>
				 <div class="col-sm-4">
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="goButton('addClassModal')">Add</button>
				 </div>
			 </div>
		 </div>
</div>
</div>


<div id = "addProjectModal" class="modal" style= "display:none;">
	<div class="modal-content">
	 <div class="modal-header" style="background-color: #4a4a4a;">
		 <span class="close">&times;</span>
		 <h2>Add A Project</h2>

		 <div class="col-sm-8">
			<h4>Add a project</h3>
			<div class="col-sm-8">
			 <input style= "color:#000000;" "background-color: white;" class= "task_name" type="text" id ="projectName" placeholder="Project Description"> <br>
			</div>
			<br>
			<br>
			<br>
			<br>
			<h4>Select a date and time </h3>
			<div class = "col-sm-8">
				<input type="datetime-local" style = "color: black;" id = "projectDate">
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="col-sm-8">
			 <h4>Choose a class</h3>
			 <div class="col-sm-8">
				<input style= "color:#000000;" "background-color: white;" class= "task_name" type="text" id="classSearch" placeholder="Class goes here"> <br>
			 </div>



			 <div class="col-sm-4">
					</div>
			 </div>
			 <div class="col-sm-4">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="addProjectToCalendar()">Add</button>
			 </div>
		 </div>
	 </div>
</div>
</div>

<div id="introModal" class="modal" style= "display:block;">

		      <!-- Modal content -->
		      <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;" >
			<span class="close">&times;</span>
			  <h2>Welcome</h2>

			  <div class="col-sm-8">
					<h4>Integrate With Google Calendar</h3>

					<p><button class="w3-button w3-grey w3-round-xxlarge" style="color:white;">Login</button></p>

					<h4>Pick classes to get exam dates and auto-suggest course work</h3>

					<div class="col-sm-8">
						<input style="background-color: #4a4a4a;" class= "task_name" type="text" name="classSearch" value="Search Classes at Cornell"> <br>
						<h4>Add extra tags to organize your life</h3>
						<input style="background-color: #4a4a4a;" class= "task" type="text" name="tag1" value="CS 1112"> <br>
						<input style="background-color: #4a4a4a;" class= "task" type="text" name="tag1" value="CHEM 2090"> <br>
						<input style="background-color: #4a4a4a;" class= "task" type="text" name="tag1" value="SA Tech"> <br>
						<p>+ New Tag</p>
					</div>

					<div class="col-sm-4">

					</div>
				</div>

				<div class="col-sm-4">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="goButton('introModal')">Let's Go</button>
				</div>


			</div>

		      </div>

		    </div>

<div id="myModal" class="modal">

			    <!-- Modal content -->
			    <div class="modal-content">
						<div class="modal-header">
								<span class="close">&times;</span>
								<h2>Course Search</h2>
						</div>
						<div class="modal-body">

				    <!-- <form name="form1" method="post" id="newGame"> -->
						<fieldset>
				        	<label for="Name">Course Name:</label>
				        	<input id="nameOne" type="text" />
				    	</fieldset>
				    	<fieldset class="noHeight">
	        				<input id="addClass" class="submit" type="submit" onclick="myFunction()" />
	    				</fieldset>
				    <!-- </form> -->

						</div>
		      </div>
</div>

<div id="eventModal" class="modal">

		      <!-- Modal content -->
		      <div class="modal-content">
			<div class="modal-header">
			  <span class="close">&times;</span>
			  <h2>Event Search</h2>
			</div>
			<div class="modal-body">

			    <form name="form2" method="post" id="newGame">
				<p id="userInput">
				  <label>Event Name:</label>
				  <br />
				  <input class= "task" type="text" name="event1" placeholder="Enter Event Name">
				  <br />
				</p>
				<br />
			    </form>
			    <button class="w3-button w3-green w3-round-xxlarge" id="eventAdd" onclick="javascript:addEvent()" style="float: right;">Add</button>

			</div>
			<div class="modal-footer">
			  </div>
		      </div>

		    </div>

<div id="desktopModal" class="modal">

		      <!-- Modal content -->
		      <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;">
			  <span class="close">&times;</span>
			  <h2>Notification Settings</h2>
			</div>
			<div class="modal-body" style="background-color: #4a4a4a;">
				<label>Notify Me For:</label>
				<br />
				<label>Assignments:</label>
				<input class= "task" style="background-color: #4a4a4a;" type="text" name="p1" id="assignmentSettings" type="submit"/>
				<br />
				<label>Projects:</label>
				<input class= "task" style="background-color: #4a4a4a;" type="text" name="p1" id="projectSettings" type="submit"/>
				<br />
				<label>Essays:</label>
				<input class= "task" style="background-color: #4a4a4a;" type="text" name="p1" id="essaySettings" type="submit"/>
				<br />
				<label>Exams:</label>
				<input class= "task" style="background-color: #4a4a4a;" type="text" name="p1" id="examSettings" type="submit"/>
				<br />

				<button class="w3-button w3-purple w3-round-xxlarge" onclick="notifyMe()" style="float: right;">Notify Me</button>
				<button class="w3-button w3-orange w3-round-xxlarge" onclick="sendEmail()" style="float: right;">Send Email</button>

			</div>
			<div class="modal-footer" style="background-color: #4a4a4a;">
			  </div>
		      </div>

		    </div>
