<script type='text/javascript'>
	$(document).ready(function() {
        // page is now ready, initialize the calendar...


        var intromodal = document.getElementById('introModal');
				var modal = document.getElementById('myModal');
				var modalevent = document.getElementById('eventModal');
        var notModal = document.getElementById('notificationModal');
				var displayProjectModal = document.getElementById('addProjectModal');
				var welcomeModal = document.getElementById("welcomeModal");
				var eventDetailsModal = document.getElementById("eventDetailsModal");
				var settingsModal = document.getElementById("settingsModal");

				var closeDetails = document.getElementById("closeEventDetails");
				closeDetails.onclick = function(){
					var info = document.getElementById("information");
					info.innerHTML = "";
					eventDetailsModal.style.display = 'none';
				}
				var closeIntro = document.getElementById("closeIntro");
				closeIntro.onclick = function(){
					console.log("test");
					document.getElementById("classSearchIntro").value = "";
					intromodal.style.display = 'none';
				}

				var closeSettings = document.getElementById("closeSettings");
				closeSettings.onclick = function(){
					document.getElementById("classSearchSettings").value = "";
					settingsModal.style.display = 'none';
				}
				var closeProject = document.getElementById("closeProject");
				closeProject.onclick = function(){
					displayProjectModal.style.display = 'none';
				}
				var closeNot = document.getElementById("closeNotification");
				closeNot.onclick = function(){
					notModal.style.display = 'none';
				}

        var courseAddButton = document.getElementById('courseAdd');
        var eventAddButton = document.getElementById('eventAdd');
        var input = document.getElementById("nameOne");

				document.addEventListener("DOMContentLoaded", function() {
	        var awesomplete = new Awesomplete(input, {
					  minChars: 0,
					  autoFirst: true
					});
				});

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }

            if (event.target == modalevent) {
            	modalevent.style.display = 'none';
            }

            if (event.target == intromodal) {
                intromodal.style.display = 'none';
            }

            if (event.target == notModal) {
                notModal.style.display = 'none';
            }

						// if (event.target == displayClassModal){
						// 	displayClassModal.style.display = 'none';
						// }

						if (event.target == displayProjectModal){
							displayProjectModal.style.display = 'none';
						}
        }
    });


    document.addEventListener('DOMContentLoaded', function () {
      if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    function sendEmail() {
    	window.open('mailto:kl553@cornell.edu?subject=SA%20Tech%20Email%20Notification');
    }

    function notifyMe() {


      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
      }

      if (Notification.permission !== "granted")
        Notification.requestPermission();
      else {
        var notification = new Notification('Notification title', {
          icon: 'https://avatars1.githubusercontent.com/u/19356609?v=3&s=200',
          body: "Hey there! You've been notified!",
        });

        notification.onclick = function () {
          window.open("http://www.cornelldti.org/");
        };
      }
    }

    function introAdd() {
        var modal = document.getElementById('introModal');
				document.getElementById("classSearchIntro").value = "";
        modal.style.display = 'block';
    }
		function settingsAdd() {
				var modal = document.getElementById('settingsModal');
				document.getElementById("classSearchSettings").value = "";
				modal.style.display = 'block';
				populateUserCoursesSettings();
				populateUserTagsSettings();
		}


		function displayProjectModal() {
			var modal = document.getElementById('addProjectModal');
			populateProjectTagSelect();
			modal.style.display = 'block';
		}

    function addingClass() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function switchClass() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('eventModal');
        modal2.style.display = 'block';
    }

    function switchCouse() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('myModal');
        modal2.style.display = 'block';

		$.getJSON('http://localhost:5000/getAllClasses', function(data) {
		  //data is the JSON string
		  awesomplete.list = data;
		});
    }

    function desktopToggle() {
        var modal = document.getElementById('notificationModal');
        modal.style.display = 'block';
    }

    function eventToggle() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function goButton(modalType) {
    	var modal = document.getElementById(modalType);
    	modal.style.display = 'none';
    }


		function addProjectToCalendar(){

			var name = document.getElementById("projectName").value;
			var dueDate = document.getElementById("projectDate").value;
			console.log(dueDate);
			var course = document.getElementById("selectDropdown").value;
			var start = parseInt(document.getElementById("startWorking").value);
			var pLocation = document.getElementById("projectLocation").value;
			var notes = document.getElementById("projectNotes").value;

			var dueDate_object = new Date(dueDate);
			dueDate_object.setTime(dueDate_object.getTime() + 1000);
			var offset = 24*60*60*1000*(start);
			var startDate_object = new Date();
			startDate_object.setTime(dueDate_object.getTime() - offset);
			console.log(startDate_object);

			var c = getUserCourseColor(userid, course);
			var c_prime = getUserTagColor(userid, course);
			if (c.length == 0){
				color = c_prime[0];
			}
			else{
				color = c[0];
			}
			console.log(color);
			console.log('Calling addEvent');
			addEvent(userid, name, startDate_object.toISOString(), dueDate_object.toISOString(), course, pLocation, notes);
			console.log('Finished addEvent');
			var es = getEvents(userid);
			var highest_id = es[es.length - 1].eventId;

			var newEvent = {
				allDay : true,
				db_id : highest_id,
				title : name,
				start : startDate_object.toISOString(),
				end : dueDate_object.toISOString(),
				tag : course,
				color : color,
				notes : notes,
				location : pLocation,
				notify: startDate_object.toISOString(),
				can_remove : true
			};

			$("#calendar").fullCalendar('addEventSource', [newEvent]);

			var events = $("#calendar").fullCalendar('clientEvents');
			sortEvents(events);

			$("#calendar").fullCalendar('rerenderEvents');

			var modal = document.getElementById('addProjectModal');
			document.getElementById("projectName").value = "";
			document.getElementById("projectDate").value = "";
			document.getElementById("startWorking").value = "";
			document.getElementById("projectLocation").value = "";
			document.getElementById("projectNotes").value = "";
			modal.style.display = 'none';
		}

		function sortEvents(events){
		   	//grab list of courses so can check when displaying
		    var courses = getUserCourses(userid);
		    //assign displayorder to event object
		    events.forEach(function(event){
		    // activate allDay when time field is added to events
		      // if (event.allDay){
		      //   event.displayOrder = 1;
		      // } else
		      if ((event.title).includes("Prelim")){
		        event.displayOrder = 2;
		      } else if (courses.indexOf(event.tag) >= 0){
		        event.displayOrder = 3;
		      } else{
		        event.displayOrder = 4;
		      }
		    })
		  }

		function addStoredEvents(){

			var exams = getUserExams(userid);
			if (exams.length < 1){
				return;
			}
			for (k = 0; k < exams.length; k++){
				for (j = 0; j < exams[k].length; j++){

					var date = exams[k][j].start;
					date = date.split(", ");

					//07 Dec 2017 09:00:00 GMT must become
					//2010-01-09T12:30:00

					date = date[1].split(" ");
					function getMonthFromString(mon){
					   return new Date(Date.parse(mon +" 1, 2012")).getMonth()+1
					}
					var monthNum = getMonthFromString(date[1]);

					var dateString = date[2] + "-" + parseInt(monthNum) +
										"-" + date[0] + "T" + date[3];

					if (exams[k][j].courseId === 'undefined'){
						continue;
					}
					else{
						var startWorkingExam = new Date(dateString);
						startWorkingExam.setDate(startWorkingExam.getDate() - 7);
						var startDate = startWorkingExam.toISOString();
						var c = getUserCourseColor(userid, exams[k][j].courseId);
						var newEvent = {
							title : exams[k][j].courseId,
							start : startDate,
							end : dateString,
							tag : exams[k][j].courseId,
							color : c,
							location : exams[k][j].location,
							notes : exams[k][j].notes,
							can_remove : false
						}

						$("#calendar").fullCalendar('addEventSource', [newEvent]);
					}


				}
			}


			var events = getEvents(userid);
			for (k = 0; k < events.length; k++){
				var c = getUserCourseColor(userid, events[k].tagId);
				console.log("TAG" + events[k].eventName + " " + events[k].tagId);
				var newEvent = {
					allDay: true,
					db_id : events[k].eventId,
					title : events[k].eventName,
					start : events[k].startTime,
					end : events[k].endTime,
					tag : events[k].tagid,
					color : c,
					notes : events[k].notes,
					location : events[k].location,
					can_remove : true
				}
				$("#calendar").fullCalendar('addEventSource', [newEvent]);
			}

			var events = $("#calendar").fullCalendar('clientEvents');
			sortEvents(events);

			$("#calendar").fullCalendar('rerenderEvents');
		}

		function remove(link, course) {
				removeCourse(userid, course);
		    link.parentNode.parentNode.parentNode.removeChild(link.parentNode.parentNode);
		}

		function populateUserCourses(className){
			var userCourses = getUserCourses(userid);
			if (className != null && userCourses.indexOf(className) == -1) {
				userCourses.push(className);
			}
			console.log(userCourses);
			if (userCourses.length < 1){
				return;
			}
			var lst = document.getElementById("currentClasses");
			$('#currentClasses').empty();


			for (i = 0; i < userCourses.length; i++){
				var li = document.createElement("li");
				li.setAttribute("style", "margin-bottom: 5px;");

				var div = document.createElement("div");
				div.setAttribute("style",
					"line-height: 2em; padding: 10px; border-bottom: 1px white solid; overflow: auto");

				var span = document.createElement("span");
				span.setAttribute("style", "float: left; display: inline-block; font-size: 1.5em; font-weight: 300;");
				var t = document.createTextNode(userCourses[i]);
				span.append(t);

				var a = document.createElement("a");
				a.setAttribute("style", "float: right; font-size: 2em;");
				a.setAttribute("href", "#");
				a.setAttribute("onclick", "remove(this, \"" + userCourses[i] + "\")");
				a.innerHTML = "&times;";

				div.append(span);
				div.append(a);

				li.append(div);

				lst.append(li);
			}
		}


		function populateUserCoursesSettings(){
			var colors = ["Red", "Orange", "Blue"];
			var userCourses = getUserCourses(userid);
			if (userCourses.length < 1){
				return;
			}
			var lst = document.getElementById("currentClassesSettings");
			$('#currentClassesSettings').empty();
			for (i = 0; i < userCourses.length; i++){
				var dbColor = getUserCourseColor(userid, userCourses[i]);
				console.log(dbColor);
				var colorSelect = document.createElement("select");
				colorSelect.setAttribute("style", "color: black;");

				for (h = 0; h < colors.length; h++){
					var colorCode = colors[h];
					var opt = document.createElement("option");
					opt.setAttribute("style", "font-color: black;");
					opt.setAttribute("value", colors[h]);

					if (h == 0){
						if (dbColor[0] == "Red"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Red"));
					}
					else if (h == 1){
						if (dbColor[0] == "Orange"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Orange"));
					}
					else{
						if (dbColor[0] == "Blue"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Blue"));
					}
					colorSelect.append(opt);
				}
				var cSpan = document.createElement("span");
				cSpan.setAttribute("class", "colorSelect");
				cSpan.append(colorSelect);

				var li = document.createElement("li");
				var pTag = document.createElement("p");
				var t = document.createTextNode(userCourses[i]);
				pTag.append(t);
				var sp = document.createElement("span");
				sp.className = "closeClass";
				sp.appendChild(document.createTextNode("\u2715"));

				li.append(sp);
				li.append(cSpan);
				li.append(pTag);
				li.append(document.createElement("hr"));
				lst.append(li);
			}

			var removeLiList = document.getElementsByClassName("closeClass");
			for (z = 0; z < removeLiList.length; z++){
				removeLiList[z].onclick = function(){
					var div = this.parentElement;
					var removedTagName = div.getElementsByTagName('p')[0].innerHTML;
					removeTag(userid, removedTagName);
					div.innerHTML = "";
				}
			}
		}
		function populateUserTagsSettings(){
			var colors = ["Red", "Orange", "Blue"];
			var userTags = getTags(userid);
			console.log("tags" + userTags);

			if (userTags.length < 1){
				return;
			}
			var lst = document.getElementById("currentTagsSettings");
			$('#currentTagsSettings').empty();
			for (i = 0; i < userTags.length; i++){

				var dbColor = getUserTagColor(userid, userTags[i]);
				console.log(dbColor);
				var colorSelect = document.createElement("select");
				colorSelect.setAttribute("style", "color: black;");

				for (h = 0; h < colors.length; h++){
					var colorCode = colors[h];
					var opt = document.createElement("option");
					opt.setAttribute("style", "font-color: black;");
					opt.setAttribute("value", colors[h]);

					if (h == 0){
						if (dbColor[0] == "Red"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Red"));
					}
					else if (h == 1){
						if (dbColor[0] == "Orange"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Orange"));
					}
					else{
						if (dbColor[0] == "Blue"){
							opt.setAttribute("selected", "selected");
						}
						opt.append(document.createTextNode("Blue"));
					}
					colorSelect.append(opt);
				}
				var cSpan = document.createElement("span");
				cSpan.setAttribute("class", "colorSelect");
				cSpan.append(colorSelect);

				var li = document.createElement("li");
				var pTag = document.createElement("p");
				var t = document.createTextNode(userTags[i]);
				pTag.append(t);
				var sp = document.createElement("span");
				sp.className = "closeTag";
				sp.appendChild(document.createTextNode("\u2715"));

				li.append(sp);
				li.append(cSpan);
				li.append(pTag);
				li.append(document.createElement("hr"));
				lst.append(li);
			}

			var removeLiList = document.getElementsByClassName("closeTag");
			for (z = 0; z < removeLiList.length; z++){
				removeLiList[z].onclick = function(){
					var div = this.parentElement;
					var removedTagName = div.getElementsByTagName('p')[0].innerHTML;
					removeTag(userid, removedTagName);
					div.innerHTML = "";
				}
			}
		}

		function populateProjectTagSelect(){
			var userCourses = getUserCourses(userid);
			var userTags = getTags(userid);
			userCourses = userCourses.concat(userTags);
			if (userCourses.length < 1){
				return;
			}
			var dropdown = document.getElementById("selectDropdown");
			$('#selectDropdown').empty();
			for (i = 0; i < userCourses.length; i++){
				var opt = document.createElement("label");
				var radioBtn = $('<div class = "radio radio-tag"><label><input type="radio" name="radiobtn" >'+userCourses[i]+'</label></div>');
				// opt.setAttribute("value", userCourses[i]);
				// var t = document.createTextNode(userCourses[i]);
				// radioBtn.append(opt);

				// dropdown.append(radioBtn);

				$("#selectDropdown").append(radioBtn);
			}
		}

		function displayIntroModal(){
			var userCourses = getUserCourses(userid);
			if (userCourses.length == 0){
				var introModal = document.getElementById("introModal");
				introModal.style.display = 'block';
			}
		}

		function addUserClass(){
			var className = document.getElementById("classSearchIntro").value;
			var currClasses = getUserCourses(userid);
			if (currClasses.indexOf(className) != -1) {
				console.log('already have ' + className);
				return;
			}
			if (className.length > 0){
				console.log(className);
				addCourse(userid, className);
				populateUserCourses(className);
			}
		}

		function addUserClassSettings(){
			var className = document.getElementById("classSearchSettings").value;
			var currClasses = getUserCourses(userid);
			if (currClasses.length > 0){
				for (i = 0; i < currClasses.length; i++){
					if (currClasses[i]['tagId'] == className && currClasses[i]['isCourse'] == true){
						console.log("already have this class");
						return;
					}
				}
			}
			if (className.length > 0){
				addCourse(userid, className);
				populateUserCoursesSettings();
			}
		}

		function addNewTagSettings(){
			var newtagId = document.getElementById("addTagBarSettings").value;
			var allusertags = getTags(userid);
			if (allusertags.length > 0){
				for (i = 0; i < allusertags.length; i++){
					if (allusertags[i]['tagId'] == newtagId){
						console.log("already have this tag");
						return;
					}
				}
			}
			if (newtagId.length > 0){
				addTag(userid, newtagId, "Red");
				console.log(newtagId);
				populateUserTagsSettings();

			}

		}

		function updateCalendar(){
			// var events = $("#calendar").fullCalendar('getEventSources');
			// var userEvents = getEvents(userid);
			// var eventObjs = [];
			// for (k = 0; k < events.length; k++){
			// 	for (x = 0; x < events[k].events.length; x++){
			// 		eventObjs.push(events[k].events[x]);
			// 	}
			// }
			// var lst = document.getElementById("currentClasses").getElementsByTagName("li");
			// var lstPrime = [];
			// for (j = 0; j < lst.length; j++){
			// 	lstPrime.push(lst[j].getElementsByTagName("div")[0].getElementsByTagName("span")[0].innerHTML);
			// }
      //
			// for (i = 0; i < userEvents.length; i++){
			// 	console.log(userEvents[i]);
			// 	if (userEvents[i].tagId.length > 0 && lstPrime.indexOf(userEvents[i].tagId) == -1){
			// 		console.log(userEvents[i].eventId + " " + userEvents[i].eventName);
			// 		removeEvent(userEvents[i].eventId);
			// 	}
			// }
			// $("#calendar").fullCalendar('removeEvents');
      //
			// addStoredEvents();
			// syncGoogleToFullCalendar();

			$("#calendar").fullCalendar('rerenderEvents');
			introModal.style.display = 'none';
		}

		function updateCalendarSettings(){
			// var events = $("#calendar").fullCalendar('getEventSources');
			// var userEvents = getEvents(userid);
			// var eventObjs = [];
			// for (k = 0; k < events.length; k++){
			// 	for (x = 0; x < events[k].events.length; x++){
			// 		eventObjs.push(events[k].events[x]);
			// 	}
			// }
      //
			// var lst = document.getElementById("currentTagsSettings").getElementsByTagName("li");
			// var lstPrime = [];
			// for (j = 0; j < lst.length; j++){
			// 	lstPrime.push(lst[j].getElementsByTagName("a")[0].innerHTML);
			// }
			// for (i = 0; i < userEvents.length; i++){
			// 	if (userEvents[i].tagId.length > 0 && lstPrime.indexOf(userEvents[i].tagId) == -1){
			// 		removeEvent(userEvents[i].eventId);
			// 	}
			// }
			// $("#calendar").fullCalendar('removeEvents');
      //
			// addStoredEvents();
			// syncGoogleToFullCalendar();

			//TODO - use Kevin's updateCourseColor endpoint

			var currentClassesSettings = document.getElementById("currentClassesSettings");
			var classes = currentClassesSettings.getElementsByTagName("li");

			var currentClasses = getUserCourses(userid);
			console.log(classes);
			for (i = 0; i < classes.length; i++){
				var new_color = classes[i].getElementsByTagName("select")[0].value;

				var course_id = classes[i].getElementsByTagName("p")[0].innerHTML;

				//if it exists
				if (currentClasses.indexOf(course_id) >= 0){
					updateCourseColor(userid, course_id, new_color);
				}
				else{
					addCourse(userid, course_id);
					updateCourseColor(userid, course_id, new_color);
				}
			}

			var currentTagsSettings = document.getElementById("currentTagsSettings");
			var tags = currentTagsSettings.getElementsByTagName("li");

			var currentTags = getTags(userid);
			for (i = 0; i < tags.length; i++){
				var new_color = tags[i].getElementsByTagName("select")[0].value;

				var tag_id = tags[i].getElementsByTagName("p")[0].innerHTML;

				//if it exists
				if (currentTags.indexOf(tag_id) >= 0){
					updateTagColor(userid, tag_id, new_color);
				}
				else{
					addTag(userid, tag_id, new_color);
				}
			}


			$("#calendar").fullCalendar('rerenderEvents');
			settingsModal.style.display = 'none';
		}

		function nospaces(t){
        if(t.value.match(/\s|\./g)){
            t.value=t.value.replace(/\s/g,'');
        }
    }

</script>

<div id = "eventDetailsModal" class="modal" style="display:none;">
	<div class = "small-modal" id="eventDetaislModalContent">
		<div class = "modal-header">
			<span class="close" id="closeEventDetails">&times;</span>
 			<div id = "information"></div>
		</div>
	</div>
</div>

<div id = "addProjectModal" class="modal" style= "display:none;">
	<div class="modal-content">
	 <div class="modal-header" style="background-color: #4a4a4a;">
		 <span class="close" id="closeProject">&times;</span>
			<div class = "col-sm-12">
				<h3 style = "padding-left: 3px;">Add New Project</h3>

					<form id="project_form" action="javascript:addProjectToCalendar()">
				    <input style="color: white" class="task_name" type="text" id="projectName" placeholder="Title (eg. Term Paper, Guest Lecture)" required/>
						<br><br><br>
						<p>Tag</p>


						<div style="color: white" id = "selectDropdown"></div>

						<p>Due</p>
				    <input type="date" style="color: black; width:200px" id="projectDate" required />

						<br><br><br>
						<p>
							Start working
						</p>
						<input class = "col-sm-1 start_working" type="number" style="color: white; width:80px" id="startWorking" min="0" value="0" required />

						<br><br><br>
						<p>
							Location
						</p>
						<input style= "color: white;" class= "project_location" type="text" id ="projectLocation" placeholder="Event Location Here" />

						<br><br><br>
						<p>
							Notes
						</p>
						<input style= "color: white" class= "project_notes" type="text" id ="projectNotes" placeholder="Enter Event Notes Here" />

						<br><br><br>
						<input type="submit" class="btn btn-lg btn-default submit-btn" style="float:right;"></button>
				  </form>
			</div>
		 </div>
	 </div>
</div>

<div id="introModal" class="modal" style="display: block;">
	<!--ONBOARDING MODAL -->
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header" style="background-color: #4a4a4a;">
			<span class="close" id="closeIntro">&times;</span>
				<div id="onboarding-modal-div" style="margin: auto 40px; font-family: Open Sans;">
					<h2 style="margin: 0px; margin-top: 40px;">Hi! Help us make your calendar.</h2>
					<h2 style="margin: 0px;">Search and add classes that you are currently enrolled in:</h2>
					<input style="color: #000" id="classSearchIntro" type="text" placeholder="Search Classes at Cornell"
						   autocomplete="off" aria-owns="awesomplete_list_1" role="combobox">
					<button class="btn btn-sm btn-default" style="float:right;" onclick="addUserClass()">Save</button>
					<br><br>
					<h2>Your Classes:</h2>
					<ul id="currentClasses" style="min-height: 200px"></ul>
					<button class="btn btn-sm btn-default"
							style="margin-bottom: 40px; float: right; clear: both; font-size: 1.5em; width: 120px;
							line-height: 2em; border-width: 0px; background-color: #6fd301; border-radius: 56px;"
							onclick="updateCalendar();">Done</button>
				</div>
		</div>
	</div>
</div>


<div id="settingsModal" class="modal" style= "display:none;">

      <!-- Modal content -->
      <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;" >
			<span class = "close" id = "closeSettings">&times;</span>
			  <h2>Settings</h2>
				<div class = "container-fluid">
					<div class = "row">
							<div class = "col-sm-2">
								<p>Add classes</p>
							</div>
							<div class = "col-sm-10">
								<div class = "search">
									<span class = "fa fa-search"></span>
								<input class="w3-input w3-border w3-round-large"
								style="background-color: white; color: black; width: 270%;"
								id="classSearchSettings"
								type="text" class = "classSearch" placeholder="Search Classes at Cornell"/>
								</div>

								<br>
								<p style="font-size: 7px;">Add classes to get upcoming projects and prelims automatically in your planner</p>
							</div>
					</div>
					<br>
					<div class = "row">
							<div class = "col-sm-2">
								<p>My classes</p>
							</div>
							<div class = "col-sm-10">
								<ul id = "currentClassesSettings">
								</ul>
							</div>
					</div>


					<br>
					<div class = "row">
							<div class = "col-sm-2">
								<p>Other tags</p>
							</div>
							<div class = "col-sm-4">
								<ul id = "currentTagsSettings">
								</ul>
							</div>
					</div>
					<div class = "row">
							<div class = "col-sm-2">
								<p>Add tags</p>
							</div>
							<div class = "col-sm-4">
								<input class="w3-input w3-border w3-round-large" style="background-color: #4a4a4a; color: #ffffff;" id="addTagBarSettings"
								type="text" placeholder="New tag"/>
								<button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="addNewTagSettings();">Add</button>

								<br><br>
							</div>
					</div>
				</div>


				<br><br>


				<button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="updateCalendarSettings();">Save</button>
			</div>
		</div>
</div>


<div id="notificationModal" class="modal">
		      <!-- Modal content -->
	  <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;">
			  <span class="close" id="closeNotification">&times;</span>
			  <h2>Notification Settings</h2>
				</div>
				<div class="modal-body" style="background-color: #4a4a4a;">
				</div>
			<div class="modal-footer" style="background-color: #4a4a4a;">
			</div>
	  </div>

</div>
