<script type='text/javascript'>
	$(document).ready(function() {
        // page is now ready, initialize the calendar...

        var intromodal = document.getElementById('introModal');
				var modal = document.getElementById('myModal');
				var modalevent = document.getElementById('eventModal');
        var desktopmodal = document.getElementById('desktopModal');
				var displayClassModal = document.getElementById('addClassModal')
				var displayProjectModal = document.getElementById('addProjectModal')

				var spanaddclass = document.getElementsByClassName('close')[0];
				var spanaddproject = document.getElementsByClassName('close')[1];
        var spanintro = document.getElementsByClassName('close')[2];
        var span = document.getElementsByClassName('close')[3];
        var span2 = document.getElementsByClassName('close')[4];
        var spandesktop = document.getElementsByClassName('close')[5];
        var spanproject = document.getElementsByClassName('close')[6];
        var spantask = document.getElementsByClassName('close')[7];

				var closeIntro = document.getElementById("closeIntro");
				closeIntro.onclick = function(){
					intromodal.style.display = 'none';
				}

        var courseAddButton = document.getElementById('courseAdd');
        var eventAddButton = document.getElementById('eventAdd');
        var input = document.getElementById("nameOne");
        var awesomplete = new Awesomplete(input, {
				  minChars: 1,
				  autoFirst: true
				});

        // When the user clicks on <span> (x), close the modal
        eventAddButton.onclick = function() {
        	modalevent.style.display = 'none';
        }
        spanintro.onclick = function() {
            intromodal.style.display = 'none';
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = 'none';
        }

        span2.onclick = function() {
        	modalevent.style.display = 'none';
        }

        spandesktop.onclick = function() {
            desktopmodal.style.display = 'none';
        }

				spanaddclass.onclick = function(){
					displayClassModal.style.display = 'none';
				}

				spanaddproject.onclick = function(){
					displayProjectModal.style.display = 'none';
				}

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }

            if (event.target == modalevent) {
            	modalevent.style.display = 'none';
            }

            if (event.target == intromodal) {
                intromodal.style.display = 'none';
            }

            if (event.target == desktopmodal) {
                desktopmodal.style.display = 'none';
            }

						if (event.target == displayClassModal){
							displayClassModal.style.display = 'none';
						}

						if (event.target == displayProjectModal){
							displayProjectModal.style.display = 'none';
						}
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
      if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    function sendEmail() {
    	window.open('mailto:kl553@cornell.edu?subject=SA%20Tech%20Email%20Notification');
    }

    function notifyMe() {


      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
      }

      if (Notification.permission !== "granted")
        Notification.requestPermission();
      else {
        var notification = new Notification('Notification title', {
          icon: 'https://avatars1.githubusercontent.com/u/19356609?v=3&s=200',
          body: "Hey there! You've been notified!",
        });

        notification.onclick = function () {
          window.open("http://www.cornelldti.org/");
        };
      }
    }

    function introAdd() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'block';
    }

		function displayClassModal() {
			var modal = document.getElementById('addClassModal');
			modal.style.display = 'block';
		}

		function displayProjectModal() {
			var modal = document.getElementById('addProjectModal');
			modal.style.display = 'block';
		}

    function addingClass() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function switchClass() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('eventModal');
        modal2.style.display = 'block';
    }

    function switchCouse() {
        var modal = document.getElementById('introModal');
        modal.style.display = 'none';
        var modal2 = document.getElementById('myModal');
        modal2.style.display = 'block';

		$.getJSON('http://localhost:5000/getAllClasses', function(data) {
		  //data is the JSON string
		  awesomplete.list = data;
		});
    }

    function desktopToggle() {
        var modal = document.getElementById('desktopModal');
        modal.style.display = 'block';
    }

    function eventToggle() {
        var modal = document.getElementById('eventModal');
        modal.style.display = 'block';
    }

    function goButton(modalType) {
    	var modal = document.getElementById(modalType);
    	modal.style.display = 'none';
    }

		function addUserClass(){
			var className = document.getElementById("classSearch").value;
			//add user course endpoint
		}

		function addProjectToCalendar(){
			name = document.getElementById("projectName").value;
			date = document.getElementById("projectDate").value;
			course = document.getElementById("projectClass").value;

			if (name === 'undefined'){
				name = "Empty"
			}
			if (date){
				dateArr = date.split("-");
				console.log(dateArr[1]);
				if (dateArr[1].length == 1){
					dateArr[1] = ("0").concat(dateArr[1]);
				}
				date = dateArr.join();
				var fullDate = "";
				for (i = 0; i < dateArr.length; i++){
					fullDate = fullDate.concat(dateArr[i]);
					if (i == 0 || i == 1){
						fullDate = fullDate.concat("-");
					}
				}
				date = fullDate.concat(":00");

			}
			else{
				var today = new Date();
				var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				var dateTime = date;

			}
			if (course === 'undefined'){
				course = "Blank";
			}
			var newEvent = {
				title : name,
				start : date
			}
			$("#calendar").fullCalendar('addEventSource', [newEvent]);
			$("#calendar").fullCalendar('rerenderEvents');

			addEvent(userid, name, date, date, course);
			console.log("added");


			var modal = document.getElementById('addProjectModal');
			modal.style.display = 'none';
		}

		function addStoredEvents(){

			var exams = getUserExams(userid);

			for (j = 0; j < exams[0].length; j++){

				var date = exams[0][j].start;
				date = date.split(", ");


				//07 Dec 2017 09:00:00 GMT must become
				//2010-01-09T12:30:00

				date = date[1].split(" ");
				function getMonthFromString(mon){
				   return new Date(Date.parse(mon +" 1, 2012")).getMonth()+1
				}
				var monthNum = getMonthFromString(date[1]);

				var dateString = date[2] + "-" + parseInt(monthNum) +
									"-" + date[0] + "T" + date[3];

				var newEvent = {
					title : exams[0][j].courseId,
					start : dateString
				}

				$("#calendar").fullCalendar('addEventSource', [newEvent]);


			}

			var events = getEvents(userid);
			for (k = 0; k < events.length; k++){
				var newEvent = {
					title : events[k].eventName,
					start : events[k].startTime,
					end : events[k].endTime
				}
				$("#calendar").fullCalendar('addEventSource', [newEvent]);
			}
			$("#calendar").fullCalendar('rerenderEvents');
		}

		function populateUserCourses(){
			var userCourses = getUserCourses(userid);
			var lst = document.getElementById("currentClasses");
			for (i = 0; i < userCourses.length; i++){
				var li = document.createElement("li");
				var t = document.createTextNode(userCourses[i]);
				li.append(t);

				lst.append(li);
			}
		}

		function displayIntroModal(){
			var userCourses = getUserCourses(userid);
			if (userCourses.length == 0){
				var introModal = document.getElementById("introModal");
				introModal.style.display = 'block';
			}
		}

</script>

	<div id = "addClassModal" class="modal" style= "display:none;">
		<div class="modal-content">
		 <div class="modal-header" style="background-color: #4a4a4a;">
			 <span class="close">&times;</span>
			 <h2>Add A Class</h2>

			 <div class="col-sm-8">
			  <h4>Pick classes to get exam dates and auto-suggest course work</h3>
			  <div class="col-sm-8">
			 	 <input style="background-color: white; color: black" class= "task_name"
				 type="text" id="addClassSearch" placeholder="Add a class"> <br>
			  </div>

				 <div class="col-sm-4">
				 </div>
				 </div>
				 <div class="col-sm-4">
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <button class="w3-button w3-green w3-round-xxlarge" style="float:right;" onclick="addUserClass()">Add</button>
				 </div>
			 </div>
		 </div>
</div>
</div>



<div id = "addProjectModal" class="modal" style= "display:none;">
	<div class="modal-content">
	 <div class="modal-header" style="background-color: rgba(255, 5, 35, 1); opacity: 0.7">
		 <span class="close">&times;</span>
		 <!--<h2>Add A Project</h2>
		 <br>-->
		 <div class="col-sm-8">
			<!--<h4>Add a project</h3>
			<div class="col-sm-8">-->

			 <input style= "color: white" class= "task_name" type="text" id ="projectName" placeholder="Title"> <br>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-1 title">
				Tag
			</div>
				<!-- add radio buttons w/ tags extract from backend -->

			<br>
			<br>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-2 title">
				Starts
			</div>
			<div class='col-md-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

			<br>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-2 title">
				Ends
			</div>
			<div class='col-md-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
		<br>
		<div class = "col-sm-1"></div>
		<div class = "col-sm-2 start-working-title">
			 Start Working
		</div>
		<div class = "col-sm-4">
			<select class = "start-working">
			  <option value="volvo">None</option>
			  <option value="saab">2 days ahead</option>
			  <option value="opel">5 days ahead</option>
			  <option value="audi">1 week ahead</option>
			</select>
		</div>

			<br>
			<br>
			<br>
			<br>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-1 title">
				Location
			</div>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-8">
				<input style= "color: white" class= "project_location" type="text" id ="projectLocation" placeholder="Event Location Here">
			</div>

			<br>
			<br>

			<div class = "col-sm-1"></div>
			<div class = "col-sm-1 title">
				Notes
			</div>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-8">
				<input style= "color: white" class= "project_notes" type="text" id ="projectNotes" placeholder="Enter Event Notes Here">
			</div>

			<div class = "col-sm-1">
			<button class="btn btn-sm btn-default" style="float:right;" onclick="addUserClass()">Save</button>
			</div>
		 </div>
	 </div>
</div>

<div id="introModal" class="modal" style= "display:none;">

		      <!-- Modal content -->
		      <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;" >
			<span class = "close" id = "closeIntro">&times;</span>
			  <h2>Welcome</h2>

			  <div class="col-sm-8">
					<h4>Add courses to your schedule!</h3>

					<div class="col-sm-8">
						<input style="background-color: white; color: black;" id="classSearch"
						type="text" placeholder="Search Classes at Cornell"
						/>
						<ul id = "currentClasses">
							<li>Current classes:</li>
						</ul>

					</div>

					<div class="col-sm-4">

					</div>
				</div>

			</div>

		      </div>

		    </div>


<div id="desktopModal" class="modal">

		      <!-- Modal content -->
		      <div class="modal-content">
			<div class="modal-header" style="background-color: #4a4a4a;">
			  <span class="close">&times;</span>
			  <h2>Notification Settings</h2>
			</div>
			<div class="modal-body" style="background-color: #4a4a4a;">
			</div>
			<div class="modal-footer" style="background-color: #4a4a4a;">
			  </div>
		      </div>

		    </div>
