
	<h3>Tasks<input onclick="taskToggle()" id="green-button" type="image" src="../static/images/plus-button-green.png" /></h3>

	<button onclick="eventListFunction()">Sync calendar and to do list</button>
	<button onclick="saveAll()">Save Button</button>
	<div class = "toDoListDiv">
		<ul class="sortable" id="newUL" contenteditable="true"><!--
			<li><span class="handle" contenteditable="false">&#8597; &nbsp;&nbsp;</span>
				Item 1
			</li>
			<li><span class="handle" contenteditable="false">&#8597; &nbsp;&nbsp;</span>
				Item 2
			</li>
			<li><span class="handle" contenteditable="false">&#8597; &nbsp;&nbsp;</span>
				Item 3
			</li>-->

		</ul>
	</div>

		<!-- <input type="text" id="myInput" placeholder="Add new item">
		<span onclick="newElement();" class="addBtn">Add</span> -->


	<!-- <script src="../static/js/watch.js" type="text/javascript"></script> -->

	<script>

	function nestedListElement(parent) {

	  var ul = document.createElement("ul");
	  var li = document.createElement("li");

	  li.appendChild(document.createTextNode("Placeholder Text"));
		li.setAttribute("id", "toDoList");
		li.setAttribute("class", "sortable-element");
		li.setAttribute("contenteditable", true);


		var span = document.createElement("SPAN");
		var txt = document.createTextNode("\u2713");
		span.className = "close";
		span.setAttribute("contenteditable", false);
		span.appendChild(txt);
		li.appendChild(span);

		var span2 = document.createElement("span");
		txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
		span2.className = "handle";
		span2.setAttribute("contenteditable", false);
		span2.appendChild(txt2);
		li.insertBefore(span2, li.firstChild);

		var span3 = document.createElement("span3");
		txt3 = document.createTextNode("\u2719");
		span3.className = "hider";
		span3.setAttribute("contenteditable", false);
		span3.setAttribute("data-toggle", "collapse");
		span3.appendChild(txt3);
		li.appendChild(span3);


	  ul.appendChild(li);
		ul.setAttribute("class", "sortable");
		ul.setAttribute("contenteditable", false);
		parent.appendChild(ul);
	}

	function getSelectionStart() {
	 var node = document.getSelection().anchorNode;
	 return (node.nodeType == 3 ? node.parentNode : node);
	}

	function hashCode(str) {
    var hash = 0;
    if (str.length == 0) return hash;
    for (i = 0; i < str.length; i++) {
        char = str.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
	}

	document.onkeypress = function(e) {
		if (e.keyCode == 13){
			nestedListElement(getSelectionStart());
			var brs = getSelectionStart().getElementsByTagName('br');
			while (brs.length) {
			  brs[0].parentNode.removeChild(brs[0]);
			}
		}
	};
		//$("#idContentEditable").keypress(function(e){ return e.which != 13; });

		var eventsIn = [];
		var dup = false;
		function eventListFunction() {
			var upcomingEvents = $('#calendar').fullCalendar('clientEvents');
			for (p = 0; p < upcomingEvents.length; p++){
				var inputValue = upcomingEvents[p].title;

				for (m = 0; m < eventsIn.length; m++){
					if (inputValue == eventsIn[m]) {
						dup = true;
						continue;
					}
				}
				if (dup === false){
					eventsIn.push(inputValue);
				}
			}
			for (j = 0; j < eventsIn.length; j++){
				var li = document.createElement("li");
				var t = document.createTextNode(eventsIn[j]);

				// var p = document.createElement("p");
				// p.appendChild(t);
				// p.setAttribute("class", "collapse");
				// p.setAttribute("id", eventsIn[j]);
				li.appendChild(t);

				li.setAttribute("id", "toDoList");
				li.setAttribute("class", "sortable-element");
				//li.setAttribute("contenteditable", true);
				li.setAttribute("data-toggle", "collapse");
				li.setAttribute("data-target", "#" + eventsIn[j]);
				if (eventsIn[j] === '') {
				} else {
				  document.getElementById("newUL").appendChild(li);
				}
				document.getElementById("myInput").value = "";



				var span = document.createElement("SPAN");
				var txt = document.createTextNode("\u2713");
				span.className = "close";
				span.setAttribute("contenteditable", false);
				span.appendChild(txt);
				li.appendChild(span);

				for (i = 0; i < close.length; i++) {
				  close[i].onclick = function() {
					var div = this.parentElement;
					div.style.display = "none";
					div.inne
				  };
				}

				var span2 = document.createElement("span");
				txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
				span2.className = "handle";
				span2.setAttribute("contenteditable", false);
				span2.appendChild(txt2);
				li.insertBefore(span2, li.firstChild);


				var span3 = document.createElement("span3");
				txt3 = document.createTextNode("\u2719");
				span3.className = "hider";
				span3.setAttribute("contenteditable", false);
				span3.setAttribute("data-toggle", "collapse");
				span3.appendChild(txt3);
				li.appendChild(span3);


			}




		}


		function saveAll() {
			var items = document.getElementsByClassName("sortable-element");
			// items.forEach(function(item){
			// 	console.log(this.innerText);
			// 	//updateTask(userid, this.innerText.substring(6, div.innerText.length-1));
			// });
			var i;

			//console.log("here are some items: " + items);
			for (i = 0; i < items.length; i++) {
				//console.log("here are some items: " + items.item(i).getAttribute("taskid"));
				updateTask(items.item(i).getAttribute("taskid"), items.item(i).getAttribute("taskname"),
				items.item(i).getAttribute("duedate"), items.item(i).getAttribute("course"),
				items.item(i).getAttribute("color"), items.item(i).getAttribute("details"));
			}
		}


		$(function  () {


			var adjustment;

			$("ul.sortable").sortable({
				group: 'sortable',
				pullPlaceholder: true,
				handle: '.handle',

				start: function(){ $('.sortable-element').hide(); },
				stop: function(){ $('.sortable-element').show(); },
				// animation on drop
				onDrop: function  ($item, container, _super) {
				  var $clonedItem = $('<li/>').css({height: 0});
				  $item.before($clonedItem);
				  $clonedItem.animate({'height': $item.height()});

				  $item.animate($clonedItem.position(), function  () {
					$clonedItem.detach();
					_super($item, container);
				  });

				},

			  // set $item relative to cursor position
			  onDragStart: function ($item, container, _super) {
				var offset = $item.offset(),
					pointer = container.rootGroup.pointer;

				adjustment = {
				  left: pointer.left - offset.left,
				  top: pointer.top - offset.top
				};

				_super($item, container);
			  },
			  onDrag: function ($item, position) {
				$item.css({
				  left: position.left - adjustment.left,
				  top: position.top - adjustment.top
				});
			  }
			});
		});



		var myNodelist = document.getElementsByTagName("LI");
		var i;
		for (i = 0; i < myNodelist.length; i++) {
			if (myNodelist[i].hasAttribute("id")){
				var span = document.createElement("SPAN");
				var txt = document.createTextNode("\u2713");
				span.className = "close";
				span.setAttribute("contenteditable", false);
				span.appendChild(txt);
				myNodelist[i].appendChild(span);
			}



		  var span2 = document.createElement("span");
		  var txt2 = document.createTextNode("\u2630");
		  span2.className = "handle";
		  span2.appendChild(txt2);
		  myNodelist[i].prependChild(span2);
		}

		// Click on a close button to hide the current list item
		var close = document.getElementsByClassName("close");

		var hider = document.getElementsByClassName("hider");

		var i;
		for (i = 0; i < close.length; i++) {
		  close[i].onclick = function() {
			var div = this.parentElement;
			div.style.display = "none";
		  };
		}

		for (i = 0; i < hider.length; i++) {
			hider[i].onclick = function() {
			var current = null;
			var div = this.parentElement;
			for (var i = 0; i < div.childNodes.length; i++) {
					if (div.childNodes[i].className == "sortable-element") {
						current = div.childNodes[i];
						if (current.style.display === 'none') {
								current.style.display = 'block';
						} else {
								current.style.display = 'none';
						}
					}
			}
			};
		}

	function newElement(text, course, color, duedate, details, taskid) {
		var li = document.createElement("li");
		var inputValue = text;
		var t = document.createTextNode(inputValue);
		li.appendChild(t);
		li.setAttribute("id", "toDoList");
		li.setAttribute("class", "sortable-element");
		li.setAttribute("contenteditable", true);

		li.setAttribute("course", course);
		li.setAttribute("color", color);
		li.setAttribute("duedate", duedate);
		li.setAttribute("details", details);
		li.setAttribute("taskid", taskid);

		if (inputValue === '') {
		} else {
		  document.getElementById("newUL").appendChild(li);
		}
		document.getElementById("myInput").value = "";


		var span = document.createElement("SPAN");
		var txt = document.createTextNode("\u2713");
		span.className = "close";
		span.setAttribute("contenteditable", false);
		span.appendChild(txt);
		li.appendChild(span);

		for (i = 0; i < close.length; i++) {
		  close[i].onclick = function() {
			var div = this.parentElement;
			div.style.display = "none";
			console.log(div.innerText);
			removeTask(userid, div.innerText.substring(6, div.innerText.length-1));
		  };
		}

		var span2 = document.createElement("span");
		txt2 = document.createTextNode("\u2195 	\u00a0 \u00a0");
		span2.className = "handle";
		span2.setAttribute("contenteditable", false);
		span2.appendChild(txt2);
		li.insertBefore(span2, li.firstChild);


		var span3 = document.createElement("span3");
		txt3 = document.createTextNode("\u2719");
		span3.className = "hider";
		span3.setAttribute("contenteditable", false);
		span3.setAttribute("data-toggle", "collapse");
		span3.setAttribute("data-target", "#inner-course-name-" + taskid);

		var desc = document.createElement("div");
		desc.setAttribute("class", "collapse");
		desc.setAttribute("id", "inner-course-name-" + taskid);

		var txt4 = document.createTextNode(course);
		var txt5 = document.createTextNode(color);
		var txt6 = document.createTextNode(duedate);
		var txt7 = document.createTextNode(details);
		var txt8 = document.createTextNode(taskid);

        span3.appendChild(txt3);
				var br = document.createElement("br");
        desc.appendChild(br);
				desc.appendChild(txt4);
				var br = document.createElement("br");
        desc.appendChild(br);
				desc.appendChild(txt5);
				var br = document.createElement("br");
        desc.appendChild(br);
				desc.appendChild(txt6);
				var br = document.createElement("br");
        desc.appendChild(br);
				desc.appendChild(txt7);
				var br = document.createElement("br");
        desc.appendChild(br);
				desc.appendChild(txt8);
        span3.appendChild(desc);

		li.appendChild(span3);



	  }

		function prePopToDoList(list) {
			var arr = JSON.parse(list);
			console.log(arr);
			arr.forEach(function(obj) { newElement(obj.task, obj.course, obj.color, obj.duedate, obj.details, obj.taskid); });
		}

		// prePopToDoList(getTasks(userid));

	</script>

		<!--<input type="text" id="myInput" placeholder="Title...">
		<span onclick="newElement()" class="addBtn">Add</span>-->

	<!--<input type="text" id="myInput" placeholder="Title...">-->

	<!--<span onclick="newElement()" class="addBtn">+</span>-->
